body{
    background-color: rgba(201, 181, 67, 0.808)
}
h1{
    font-size: 50px;
    text-align: center;
}
h2{
    font-size: 50px;
    text-align: center;
}
/*.button{
    border:brown;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    height: 20px;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}*/
#increment-btn{
    position: absolute;
    right: 55%;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    width: 200px;
    background: rgb(250, 104, 238);
}
#save-btn{
    position: absolute;
    right: 30%;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    width: 200px;
    background: rgb(54, 68, 196);
}

#sum-btn{
    position: absolute;
    right: 43%;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    width: 200px;
    background: rgba(236, 3, 3, 0.726);
}
#save-el{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(109, 148, 71);
   
    padding-top: 100px;
    text-align: center;
}

#total-el{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
   
    padding-top: 100px;
    text-align: center;
}